@import "Styles/variables"

body
  font-size: 14 *$hPoint
  user-select: none

*
  margin: 0
  padding: 0
  box-sizing: border-box

input
  border: none
  outline: none
  background-color: transparent
  font-family: inherit
  font-weight: inherit
  color: #fff
